// Button styles

.btn {
	display: block;
	background-color: $green;
	color: $white;
	padding: $quarter-spacing-unit;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	border: none;
	@include media(medium) {
	   width: 50%;
	}

	@include media(large) {
	   width: 35%;
	}
}



