// Episode page styles

.episodes {
	h1 {
		 margin-bottom: $half-spacing-unit;
		@include media(large) {
		    margin-bottom: $base-spacing-unit;
		}
	}
	h2 {
		margin-top: 0;
	}

	img {
	    margin-bottom: $half-spacing-unit;
		  @include media(medium) {
	    	margin-bottom: 0;
	    }
	}
}
