// Episode page styles

.episodes {
	h1 {
		 margin-bottom: $half-spacing-unit;
		@include media(large) {
		    margin-bottom: $base-spacing-unit;
		}
	}
	.episode-title {
			margin-top: 0;
		}
	.episode-content {
		h2  {
			margin-top: $half-spacing-unit;
			   @include media(medium) {
			   	margin-top: 0;
			   }
		}
	}

}
