// Layout styles

footer {
	background-color: $blue;
	margin-top: 0;
	padding: 50px 0;
		@include media(large) {
			padding: $base-spacing-unit 0;
		}

	.footer-content {
	   display: flex;
	   flex-direction: column;
	}

	.sign-up {
		display: flex;
	}

	.signup-label {
		color: $white;
		font-size: 22px;
	}

	.email-input {
		max-width: 185px;
	    padding: $quarter-spacing-unit;
		height: 51px;
		margin-top: 24px;
		margin-bottom: $quarter-spacing-unit;
		font-size: 18px;
		border: 0;
		  @media (max-width: 359px) {
		  	max-width:170px;
		  }
		@include media(medium) {
			max-width: 270px;
		}

	}

	.signup-btn {
		width: 183px;
		padding: $quarter-spacing-unit $eighth-spacing-unit;
   		height: 51px;
        margin-top: 24px;
        span {
		  @media (max-width: 359px) {
		 	display: none;
		  }
		}
		@include media(medium) {
			width: auto;
        	padding: $quarter-spacing-unit;
    	}
	}

	h2, h3 {
		color: $white;
	}
	ul {
		padding-left: 0;
		list-style: none;
		li {
			margin-bottom: $quarter-spacing-unit;
		}
	}
	a {
		color: $white;
		text-decoration: none;
	}
	p {
		margin-top: 0;
		color: $white;
		font-size: 17px;
		  @include media(medium) {
		  	font-size: 18px;
		  	margin-top: $eighth-spacing-unit;
		  }
	}
}
