// Header styles

header {

	.logo {
    	margin-top: 16px;
    	  img {
      		 width: 117px;
      		 height: 30.7969px;
      		 min-width: 117px;
    	   }
	   @include media(large) {
	   	margin-top: $half-spacing-unit;
	   	   img {
      		 width: 155px;
      		 height: 40.7969px;
      		 min-width: 155px;
    		}
	   }
	}

}
