/*===============================================
Navigation
===============================================*/

.primary-nav {
  display: inline-block;
  margin-top: 5px;

     @include media(large) {
      font-size: 20px;
      margin-top: 19px;
    }

  ul {
      padding-left: $eighth-spacing-unit;
      margin-bottom: 0;
      list-style: none;
     li {
       padding-right: 21px;
       display: inline-block;
         @media (max-width: 359px) {
              padding-right: 13px;
          }
        @include media(large) {
           padding-right: $base-spacing-unit;
           margin-right: 5px;
         }

       &:last-of-type {
         padding-right: 0;
       }
          a {
            color: $blue;
            text-decoration: none;
             @media (max-width: 300px) {
              font-size: 14px;              }
            &:hover {
              color: $green;
            }
          }
          span {
            display: none;
                @include media(medium) {
                  display: inline-block;
                }
          }
     }
  }
}
