/*===============================================
Navigation
===============================================*/
.toggle-wrap {
  margin-top: 22px;
}
.mobile-nav {
  position: relative;
  width: 100%;
  left: -135px;
  z-index: 9999999999999;
  ul {
    margin-top: $half-spacing-unit;
    list-style: none;
    padding-left: $quarter-spacing-unit;
    li {
        padding: $eighth-spacing-unit 0;
        width: 100%;
       a {
        color: #46af80;
        font-weight: 600;
        text-decoration: none;
        font-size: 24px;
       }
    }
  }
  @include media(medium) {
    display: none;
  }
}
.primary-nav {
  display: none;


    @include media(medium) {
      display: flex;
      margin-top: 5px;
    }
     @include media(large) {
      font-size: 20px;
      margin-top: 19px;
    }

  ul {
      display: flex;
      flex-direction: row;
      margin-bottom: 0;
      list-style: none;
     li {
       padding-right: 21px;

        @include media(large) {
           padding-right: $base-spacing-unit;
         }

       &:last-of-type {
         padding-right: 0;
       }
          a {
            color: $blue;
            text-decoration: none;
            &:hover {
              color: $green;
            }
          }
     }
  }
}


.mobile-menu-toggle {
   position: absolute;
   right: 16px;
   z-index: 999;
   height: 12px;
   width: 27px;

    @include media(medium) {
      display: none;
  }
}
