/*===============================================
Navigation
===============================================*/

.primary-nav {
  display: none;

    @include media(medium) {
      display: flex;
      margin-top: 5px;
    }
     @include media(large) {
      margin-top: 24px;
    }
     @include media(xlarge) {
      font-size: 18px;
    }
  ul {
      display: flex;
      flex-direction: row;
      margin-bottom: 0;
      list-style: none;
     li {
       padding-right: 21px;

        @include media(large) {
           padding-right: $base-spacing-unit;
         }

       &:last-of-type {
         padding-right: 0;
       }
          a {
            color: $blue;
            text-decoration: none;
            &:hover {
              color: $green;
            }
          }
     }
  }
}


.mobile-menu-toggle {
   margin-top: 22px;
    @include media(medium) {
      display: none;
  }
  .menu-open {
    display: flex;
  }
  .icon-close-menu {
    display: none;
  }
}

  .mobile-menu-toggle.is--active {
    .icon-burger-menu {
      display: none;
    }
    .icon-close-menu {
      display: flex;
    }
  }

.menu-open,  .icon-close-menu {
  height: 31px;
  width: 33px;
}

.mobile-menu-toggle.is--active {
  .icon-burger-menu {
    display: none;
  }
  .icon-close-menu {
    display: inline-block;
  }
}

.primary-nav.is--open {
  display: block;
  position: relative;
  margin-left: 0;
  margin-top: 87px;
  transition: all, 0.25s, ease-in-out;
    ul {
      padding-left: 0;
      li {
          display: block;
          padding-bottom: 15px;
          padding-left: 0;
            @include media(medium) {
              display: inline-block;
              padding-bottom: 25px;
              padding-left: 25px;
            }
      }
    }
    @include media(medium) {
    height: auto;
    margin-top: 0;
 }
}
