// Home page styles

.home-header {
	height: auto;
	background: transparent;
}

header {

  .top-content {
	display: flex;
	justify-content: space-between;
  }
}

h3 a {
	text-decoration: none;
}

.hero {
	margin: 48px 0 $half-spacing-unit 0;
	 @include media(large) {
	 	margin-top: 70px;
	 }
}

.home {
	margin-bottom: 0;
}

.home-heading {
	font-weight: $headline;
	    @include media(large) {
	    	font-size: 59px;
	    }
}
