// Home page styles

.home-header {
	height: auto;
	background: transparent;
		.video-wrap {
	    margin-top: $half-spacing-unit;
	    padding-top: 25px;
	}
}

header {

  .top-content {
	display: flex;
	justify-content: space-between;
  }
}

h2 a {
	text-decoration: none;
		 @include media(large) {
		    font-size: 24px;
		 }
}

.home-heading {
	font-weight: $headline;
	    @include media(large) {
	    	font-size: 59px;
	    }
}
