// Layout styles

.main-wrap {
	min-height: 100vh;
}

.wrap {
	max-width: 1300px;
	margin: auto;
}

header {
    background: #9ec8d2;
    height: 66px;

	@include media(large) {
    	height: 106px;
	}
}

main {
	margin-bottom: $base-spacing-unit;

	   .main-content {
		  display: flex;
		  flex-direction: column;
		  padding-top: $half-spacing-unit;
	   }

	a {
		color: $blue;
	}
	p {
		color: $blue;
	}
}

.margin-bh {
	margin-bottom: $quarter-spacing-unit;
		@include media(medium) {
		    margin-bottom: 0;
		}
}
