// Layout styles

.main-wrap {
	min-height: 100vh;
}

.wrap {
	max-width: 1300px;
	margin: auto;
}

main {
	padding-right: $quarter-spacing-unit;
	padding-left: $quarter-spacing-unit;
	margin-bottom: $base-spacing-unit;


	  @include media(large) {
	   	padding-right: $half-spacing-unit;
		padding-left: $half-spacing-unit;
	   }

	   .main-content {
		  display: flex;
		  flex-direction: column;
		  padding-top: $half-spacing-unit;
	   }

	h2 {
		color: $white;
	}
	a {
		color: $white;
	}
	p {
		color: $blue;
	}
}

