/*===============================================
Styles for forms
===============================================*/

input, textarea {
	display: block;
    width: 100%;
    margin-top: $quarter-spacing-unit;
    margin-bottom: $half-spacing-unit;
    padding: 12px 8px;
    background: #FFFFFF;
    border: 1px solid;
    border-color: #6E6E6E;
    color: #282828;
    outline: 0;
    transition: all 0.3s ease-in-out;
    font-size: 26px;
    border-radius: 0;
}

textarea {
    height: 248px;
    resize: none;
}

label {
   font-weight: $semi-bold;
      @include media(medium) {
        font-size: 20px;
      }
}
