/*===============================================
Typography
===============================================*/

.wf-loading {
   visibility: hidden;
}

body {
    font-family: $source-sans;
    font-style: normal;
    font-weight: $regular;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin-top: 40px;
  color: $blue;
  font-weight: $semi-bold;
  font-style: normal;
  font-size: 23px;
  line-height: 28px;
   @include media(medium) {
       margin-top: 48px;
       font-size: 40px;
       line-height: 44px;
    }
    @include media(large) {
       margin-top: 100px;
       margin-bottom: 8px;
       font-size: 51px;
       width: 80%;
       line-height: $base-spacing-unit;
    }
}

h2 {
    color: $blue;
    font-weight: $semi-bold;
    font-size: 22px;
        @include media(medium) {
            font-size: 32px;
        }
}

h3 {
  color: $blue;
  font-weight: $semi-bold;
  font-size: 20px;

}

p {
  color: $blue;
  font-family: $source-sans;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-bottom: $half-spacing-unit;
  line-height: 1.45;
     @include media(large) {
      font-size: 20px;
     }
}

strong {
    font-weight: $headline;
}
